.nav-logo {
  height: 1.5rem;
  margin-right: 0.5rem;
}

a {
  color: black;
  
}

a:hover {
  text-decoration: none;
  border: none;
  color: black;
}

.upload-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-cont{
  border: 3px dotted #808080;
  padding: 3rem;
}

.card-img-top{
  height: 17rem;
}